@page "/chat"
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Chat</PageTitle>

<div class="container">
    <aside>
        <button @onclick="() => Logout()">Logout</button>
        @foreach (var user in Users)
        {
            @* @if (user.UserName != _userName) *@
            @* { *@
                <button @onclick="() => OpenChat(user.UserId)">@user.UserName</button>
            @* } *@
        }
    </aside>

    <main>
        <header><h1>Chat</h1></header>

        <div class="chat">
            @foreach (var message in Messages)
            {
                <div class="message">
                    <h2>@message.SenderUserName</h2>
                    <p>@message.Content</p>
                    <p><small>@message.SendDate.ToString("g")</small></p>
                </div>
            }
        </div>

        <div class="textarea">
            <input type="text" @bind="_message" placeholder="Enter message" />
            <button type="button" @onclick="HandleValidSubmit">Send</button>
        </div>
    </main>
</div>