@page "/"

<div class="container">
    <header>
        <h2>Welcome</h2>
    </header>
    <aside>
        <h2>Menu</h2>
        <a href="/chat">Go to chat</a>
        <a href="/register">Register to account</a>
        <a href="/login">Login to account</a>
    </aside>
    <main>
        <h2>About chat</h2>
        <p>A simple chat application that allows you to communicate with friends or colleagues through a convenient and user-friendly interface.</p>
    </main>
</div>