@* @page "/login" *@
@* @rendermode InteractiveServer *@

@* <div class="container-form"> *@
@*     <div class="form"> *@
@*         <EditForm Model="@AuthenticateRequest" OnValidSubmit="HandleValidSubmit"> *@
@*             <h1>Login</h1> *@

@*             <DataAnnotationsValidator /> *@
@*             <ValidationSummary class="error-text" /> *@

@*             <div class="form-content"> *@
@*                 <InputText id="email" class="form-input" @bind-Value="AuthenticateRequest.Email" placeholder="Email" /> *@
@*                 <ValidationMessage For="() => AuthenticateRequest.Email" class="error-text" /> *@
@*             </div> *@

@*             <div class="form-password"> *@
@*                 <InputText type="password" id="password" class="form-input password" @bind-Value="AuthenticateRequest.Password" placeholder="Password" /> *@
@*                 <ValidationMessage For="() => AuthenticateRequest.Password" class="error-text" /> *@
@*             </div> *@

@*             <button type="submit" class="form-btn">Login</button> *@

@*             <p class="form-loggined">Don't have an account? <a href="/">Sign-up!</a></p> *@
@*         </EditForm> *@

@*         <span class="label label-error">@Message</span> *@
@*     </div> *@
@* </div> *@
