@model ChatViewModel

<head>
    <link rel="stylesheet" href="~/css/chat.css" />
</head>

<div class="container">
    <aside>
        <form asp-controller="Account" asp-action="Logout" method="post">
            <button type="submit" class="btn-danger">Logout</button>
        </form>

        @foreach (var user in Model.Users)
        {
            <button onclick="selectUser('@user.UserId')">@user.UserName</button>
        }
    </aside>

    <main>
        <header><h1>Chat</h1></header>

        <div class="chat" id="chatContainer">
            <h1 class="text">Select user to start conversation</h1>
        </div>


        <div class="textarea">
            <input type="text" id="messageInput" placeholder="Enter message" />
            <button type="button" onclick="sendMessage()">Send</button>
        </div>
    </main>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
<script>
    window.jwtToken = '@Model.JwtToken';
</script>
<script src="~/js/chat.js"></script>